@import 'tailwindcss';

:root {
  --font-sans: var(--font-inter);
  --background: #09141a;
  --foreground: #ffffff;
  --primary-gradient-1: #62cdcb;
  --primary-gradient-2: #4599db;
  --bg-gradient-1: #1f4247;
  --bg-gradient-2: #0d1d23;
  --bg-gradient-3: #09141a;
  --link: #94783e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-gradient-1: var(--primary-gradient-1);
  --color-primary-gradient-2: var(--primary-gradient-2);
  --color-bg-gradient-1: var(--bg-gradient-1);
  --color-bg-gradient-2: var(--bg-gradient-2);
  --color-bg-gradient-3: var(--bg-gradient-3);
  --color-link: var(--link);
}

body {
  font-family: var(--font-sans), sans-serif;
  background: var(--background);
  color: var(--foreground);
}

.radial-bg {
  background: radial-gradient(
    circle at top right,
    var(--bg-gradient-1),
    var(--bg-gradient-2),
    var(--bg-gradient-3)
  );
}

.gold-text {
  background: linear-gradient(
    to right,
    #94783e,
    #f3eda6,
    #f8fae5,
    #ffe2be,
    #d5be88,
    #f8fae5,
    #d5be88
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
